@font-face {
  font-family: "Plain Light";
  src: url(./fonts/plain-light-webfont.ttf);
  src: url(./fonts/plain-regular-webfont.ttf);
}
@font-face {
  font-family: "Silk Serif";
  src: url(./fonts/silkserif-regularitalic-webfont.ttf);
  src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plain Light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
#crsr {
  height: 2.8vw;
  width: 2.8vw;
  border-radius: 50%;
  border: 1px solid #d2d0d0ca;
  position: fixed;
  z-index: 999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #030303;
  padding: 20vh 10vw;
}
.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h6,
#line1-part1 h5 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "Silk Serif";
}
#line1-part1 h6 {
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 6.2vw;
  text-transform: uppercase;
  font-weight: 900;
}
.line h2 {
  font-size: 4.8vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes loaderAnime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 0;
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    opacity: 0;
  }
}
#main {
  background-color: #030303;
  position: relative;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}
#page1 #nav {
  height: 3.5vh;
  padding: 4.5vw 8vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8vw;
}
#nav-part2 h4 {
  font-size: 1.1vw;
  font-weight: 400;
}
#page1-content1::before {
  content: "01";
  font-family: "silk serif";
  position: absolute;
  font-size: 3.2vw;
  top: 26%;
  left: 22%;
  font-weight: 500;
}
.page1-content {
  width: 73%;
  margin-left: 27%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  overflow: hidden;
}
.page1-content:nth-child(2) {
  margin-top: 2.5vw;
}
.page1-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
}
.page1-content h2 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 0.8vw solid #fff;
  padding-top: 0.5vw;
}
.page1-content h2:hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-weight: 500;
  border-bottom: 0.8vw solid #ffffff00;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
  padding-top: 17vh;
  position: relative;
}
#video-container {
  height: 68vh;
  width: 70vw;
  position: relative;
  left: 29%;
}
#video-container img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#video-play-button {
  background-color: #ffa63d;
  height: 11vw;
  width: 11vw;
  position: absolute;
  top: -10%;
  left: 70%;
  border-radius: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
#video-play-button i {
  font-size: 2.5vw;
  position: absolute;
}
#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #030303;
  position: relative;
}
#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  position: relative;
  padding-top: 7vw;
}
#page4-content {
  width: 68vw;
  margin-left: 28%;
  position: relative;
}
#page4-content h1 {
  font-size: 7.6vw;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
#page4-content h1::before {
  content: "03";
  font-family: "silk serif";
  position: absolute;
  font-size: 3.2vw;
  top: 5%;
  left: -10%;
  font-weight: 500;
}
#page4-content .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 3vw 0 0 0;
}
#page4-content > p {
  margin: 4vw 0;
  font-size: 2.4vw;
  width: 54%;
  font-weight: 300;
}
#page4-flex {
  display: flex;
  margin-bottom: 2vw;
}
#page4-flex img {
  width: 50%;
  object-fit: cover;
}
#page4-flex p {
  font-size: 1.1vw;
  line-height: 1.7vw;
  font-weight: 300;
  margin-left: 1vw;
  width: 30%;
}
#page4-blue-div {
  background-color: #3f7df4;
  width: 65%;
  padding: 3vw 4.5vw 6vw 4.6vw;
  position: relative;
  margin-top: -30vh;
  margin-left: 50vh;
}
.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #ffffffbb;
  padding: 1.6vw 0;
}
.blue-div-elem h4 {
  font-size: 1.7vw;
  font-weight: 300;
}
.blue-div-elem p {
  font-size: 1vw;
  font-weight: 400;
}
#page5 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  padding: 6vw 0;
  position: relative;
}
.elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin: -2vw 0;
}
.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin: -2vw 0;
}
@keyframes textAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}
.elem2 h1 {
  font-size: 7.2vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  margin-right: 16px;
  color: transparent;
  display: inline-block;
  animation-name: textAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 22s;
  animation-direction: reverse;
}
.elem h1 {
  font-size: 7.2vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  margin-right: 16px;
  color: transparent;
  display: inline-block;
  animation-name: textAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 22s;
}
.elem span {
  font-family: "silk serif";
  color: transparent;
}
.elem2 span {
  font-family: "silk serif";
  color: transparent;
}
#footer {
  height: 90vh;
  width: 100%;
  background-color: #151515;
  padding-left: 28vw;
  position: relative;
}
#footer h1 {
  font-size: 7.4vw;
  text-transform: uppercase;
  font-weight: 400;
  width: 70%;
  position: relative;
}
#footer h1::before {
  content: "04";
  font-family: "silk serif";
  position: absolute;
  font-size: 3.2vw;
  top: 5%;
  left: -15%;
  font-weight: 500;
}
.underline {
  height: 1px;
  width: 90%;
  background-color: #ffffffc2;
  margin: 2vw 0;
}
#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1vw 4vw 1vw 0;
}
.box {
  width: 30%;
  margin-bottom: 1.8vw;
}
.box h6 {
  font-size: 1.1vw;
  font-weight: 400;
  margin-bottom: 2vw;
}
.box h5 {
  font-size: 1.8vw;
  font-weight: 500;
}
